{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Titulo</h1>

    {% for crush in crushs %}
        <div>
            <img src="{{ crush.foto.url }}" alt="">
            <h2>{{ crush.nome }}</h2>
        </div>

    {% endfor %}
</body>
</html>